.five-day {
    display: flex;
    flex-direction: column;
}

.five-day>* {
    flex: 1
}

.five-day-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#searchbtn {
    height: 40px;
    width: 80px;
    background-color: gray;
}